<!DOCTYPE html>
<html lang="en">
<head>
<title>Urban Toolkit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{url_for('static', filename='thematic_physical.ico')}}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="http://utk.evl.uic.edu/vis1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Vis 1</a>
    <a href="http://utk.evl.uic.edu/vis2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Vis 2</a>
    <a href="http://utk.evl.uic.edu/vis3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Vis 3</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">The Urban Toolkit: A Grammar-based Framework for Urban Visual Analytics</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>About Urban Toolkit</h1>
      <h5 class="w3-padding-32">The Urban Toolkit is a flexible and extensible visualization framework that enables the easy authoring of web-based visualizations through a new high-level grammar specifically built with common urban use cases in mind. This page presents 3 use cases that were built using the Urban Toolkit. It is possible to access each example by clicking on the links provided.</h5>
      <p class="w3-text-grey">Feel free to modify the grammar and experiment with it :). Be aware that some join operations might take a few minutes to apply and load.</p>
      <p class="w3-text-red">Due to the remote access some examples might take a couple of seconds to load.</p>
    </div>

    <div class="w3-third w3-center" style="padding: 10px">
	<h3>Basic interactions</h3>
	<p class="w3-text-grey">Some of the interactions need to be activated on the grammar</p>
      	<ul style="list-style-type: none; padding: 0">
		<li><b>left click</b> to move the camera</li>
		<li><b>mouse wheel</b> to zoom in and zoom out</li>
		<li><b>shift + left click</b> to rotate the camera</li>
		<li><b>alt + right click</b> to filter elements on the map</li>
		<li><b>q</b> undo filter of elements</li>
		<li><b>t</b> to select a building and embedded plots</li>
		<li><b>alt + mouse wheel</b> to change the height of a embedded plot </li>
		<li><b>r</b> to reset embedded plots and building selection</li>
	</ul>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="http://utk.evl.uic.edu/vis1"><img src="{{url_for('static', filename='footprint.png')}}" width="250px" height="250px" style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35)"></a>
    </div>

    <div class="w3-twothird">
      <h1>Footprint plots (Vis 1)</h1>
      <h5 class="w3-padding-32">This example showcases the use of embedded plots. A radial plot was defined using vega-lite and can be applied on the buildings by pointing at it with the mouse and pressing the key <b>t</b>. It also possible to change the height of the plots by pointing at the building and using <b>alt + mouse wheel</b>. Test it <a href="http://utk.evl.uic.edu/vis1">here</a>.</h5>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
	<div class="w3-content">
		<div class="w3-twothird">
			<h1>Linked plots (Vis 2)</h1>
			<h5 class="w3-padding-32">In this example a histogram was created to show the distrbution of shadow in a section of manhattan, showcasing the use of linked plots. Also a knot was created to aggregated the shadow data per building. Test it <a href="http://utk.evl.uic.edu/vis2">here</a>.</h5>
		</div>

		<div class="w3-third w3-center">
			<a href="http://utk.evl.uic.edu/vis2"><img src="{{url_for('static', filename='avg_shadow_image.png')}}" width="250px" height="250px" style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35)"></a>
		</div>
	</div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
	<div class="w3-content">
		<div class="w3-third w3-center">
			<a href="http://utk.evl.uic.edu/vis3"><img src="{{url_for('static', filename='no_tree-tree.png')}}" width="250px" height="250px" style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35)"></a>
		</div>

		<div class="w3-twothird">
			<h1>Operating knots (Vis 3)</h1>
			<h5 class="w3-padding-32">This example illutrates the knot operations feature. A measure of sky exposure was calculated with and without trees. After loading both datasets and attaching them to the streets of Milan, it is possible to highlight their diferences by using the knot operations. Test it <a href="http://utk.evl.uic.edu/vis3">here</a>.</h5>
		</div>
	</div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
   <a href="mailto: gmorei3@uic.edu"><i class="fa fa-envelope w3-hover-opacity"></i></a>
 </div>
 <p>Template by w3.css.</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
