{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "no-loss-of-precision" : "off",
    "no-cond-assign": "off",
    "@typescript-eslint/adjacent-overload-signatures": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-loss-of-precision": "off",
    "no-case-declarations": "off",
    "no-prototype-builtins": "off",
    "no-mixed-spaces-and-tabs": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-var-requires": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}