dist/
*.eggs
*.egg-info
.DS_Store
*.log

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
eggs/
.eggs/
wheels/
*.egg
*.egg-info/

.ipynb_checkpoints

simple_example

utk_new*
utk_work*
*manhattan*
test_data
urbantk_cache
multiple_downtown_nyc