plotoptix==0.14.*; sys_platform != 'darwin'
pysolar==0.*
geopy==2.*
osmium==3.*
overpass==0.7.*
numpy==1.*
pandas==2.*
scipy==1.*
geopandas==0.13.*
tqdm==4.*
mapbox_earcut==1.0.1
shapely==1.8.*
pyproj==3.*
pytz==2023.*
timezonefinder==6.*
pythonnet==3.*
pygeos==0.14.*
ipywidgets==8.*
geojson==3.*
flask==2.3.*
vedo==2023.*
netCDF4==1.6.*
requests==2.*
psutil==5.9.*
watchdog==3.0.*
kernel_killer==0.1.*