.flex-div-genericPlots{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.hidden-element label{
    display: none;
}

button:focus{
    box-shadow: none !important;
}