.ticks line{
  stroke: black;
  
}
.ticks text{
  fill: black;
  text-anchor: middle;
  font-size: 0.7em;
  /* transform: rotate(-45deg); */
}
.axisLine{
  stroke: black;
}
.textlabel{
  font-size: 1.2em;
  fill: black;
}
.mark{
  fill: #137B80;
}
